*{
    margin: 5px;
    /* padding: 2px, 10px, 2px, 10px; */
    box-sizing: border-box;
    text-align:center;
    justify-content: center;
}
#box1{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0%;
    border: solid rgb(255, 255, 255) 1px;
    border-radius: 60px;
    }
 #table{
     margin-top: 20px;
     display: flex;
        box-sizing: border-box;
        text-align:center;
        justify-content: center;
    }
table, th , td {
  border-collapse: collapse;
  padding: 10px;
  border-bottom: solid rgb(189, 189, 189) 2px;
}

table tr:nth-child(odd) {
  background-color: #ffffff;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}
#cellNames td{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
}
#bottom h5{
    text-align: right;
    font-weight: bold;
}
