*{
    margin: 5px;
    /* padding: 2px, 10px, 2px, 10px; */
    box-sizing: border-box;
    text-align:center;
    justify-content: center;
}
#box1{
    background-color: #c2c2c231;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0%;
    border: solid rgb(243, 196, 95) 1.5px;
    border-radius: 60px;
    }
 #table{
     margin-top: 20px;
     display: flex;
        box-sizing: border-box;
        text-align:center;
        justify-content: center;
    }
table, th , td {
  border-collapse: collapse;
  padding: 10px;
  border-bottom: solid rgb(243, 196, 95) 1px;
}

table tr:nth-child(odd) {
  background-color: #24242412;
}

table tr:nth-child(even) {
  background-color: #24242412;
}
#cellNames td{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
}
#bottom h5{
    text-align: right;
    font-weight: bold;
}
img{
  max-width: 50px;
}
.featured{
  background-color: yellow;
}
#qtyButton{
  display: inline-flex;
}
#description p{
  font-size: 8pt;
}
.container{
  padding-bottom: 60px;
}
#inputbox{
  color: black;
}
.btn.btn-success{
background-color: rgb(66, 115, 201);
border-color: rgb(66, 115, 201);
color: blanchedalmond;
}
.btn.btn-danger{
  background-color: rgb(190, 81, 123);
  border-color: rgb(190, 81, 123);
}